.dropdown {
  .ant-dropdown-trigger.ant-btn {
    border-radius: 4px;
  }
}

.ant-modal{
  .ant-modal-header {
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 12px 12px 0 0;
  }
  .ant-modal-body {
    padding: 30px 50px 60px;
  }
  .ant-modal-content {
    border-radius: 12px;
  }
}

.ant-skeleton {
  .ant-skeleton-content .ant-skeleton-title {
    margin-top: 0;
  }
}

.ant-popover {
  .ant-popover-inner {
    border-radius: 10px;
  }
}


// 只写在这才起作用
.fav-list .ant-modal-header {
  padding-top: 24px;
  .ant-modal-title {
    font-size: 24px;
    text-align: center;
  }
}
.fav-list .ant-modal-close {
  top: 8px;
}