// 用于覆盖 Ant Design Vue 定义的样式变量
@primary-color: #14171f;

@font-size-base: 16px;

@menu-item-height: 48px;

@menu-inline-toplevel-item-height: 48px;

@layout-body-background: #ffffff;

@layout-header-background: #ffffff;

@layout-header-padding: 0;

@menu-bg: #ffffff;

@menu-inline-submenu-bg: #ffffff;

@menu-item-active-bg: rgba(5, 105, 255, 0.02);

@menu-item-font-size: 16px;

@border-radius-base: 5px;

@border-color-base: #d0d4dc;

@background-color-light: #f2f4f7;

@text-color: #111;

@text-color-secondary: #9ba2b0;

@layout-header-height: 80px;

@error-color: #f45a50;

@success-color: #00b481;

@warning-color: #ffc300;

@vab-header-height: 80px;
@vab-padding: 24px;
@vab-margin: 0;
