@import '~ant-design-vue/dist/antd.less';
@import './font.less';
@import './reset.less';
@import './antd.less';
@import './ant.less';
@import './style.less';

.m-b-4 {
    margin-bottom: 4px;
}
.m-b-8 {
    margin-bottom: 8px;
}
.m-b-16 {
    margin-bottom: 16px;
}
.m-b-24 {
    margin-bottom: 24px;
}

:root {
    --vab-sider-width: 250px;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
@media (max-width: 576px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        width: 740px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1280px) {
    .container {
        width: 1280px;
    }
}
// @media (min-width: 1600px) {
//     .container {
//         width: 1440px;
//     }
// }
